/* 
    General Styles
*/

.SWlogo{
    height:24px;
    width: 50px;
    cursor:pointer;
   
}



.like{
    /* margin-left:91px; */
    background-color: white;
    
}
.like:hover {
    background-color: #E4A11B;
  }

  .fa-heart{
    color:#E4A11B;
    
}
  .like:hover .fa-heart { 
    color: rgb(158, 4, 4);
  }


.noFaved{
    background-color: transparent;
}

.faved{
    background-color: rgb(252, 0, 0);
}




.navbar{
    width:70vw;
}


.divider{
    height:2px;

}
.singlePeople{
    width: 70vw;

}