/* 
    General Styles
*/

.SWlogo{
    height:24px;
    width: 50px;
    cursor:pointer;
   
}



 .like{
         background-color: white;
    
}

  .fa-heart{
    color:#E4A11B;
    background-color: TRANSPARENT;
  }
  

.fa-trash{
    cursor:pointer
}
.fa-trash:hover{
    color:grey;
}




.navbar{
    width:70vw;
}


.divider{
    height:2px;

}
.singlePeople{
    width: 70vw;

}