/* 
    General Styles
*/

.SWlogo{
    height:24px;
    width: 50px;
    cursor:pointer;
   
}

.like{
    margin-left:91px;
}



.navbar{
    width:70vw;
}


.divider{
    height:2px;

}
.singlePeople{
    width: 70vw;

}